<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html"/>
<head>
    <title>Order Notes</title>
    <style>
        #order-notes{
            margin-top: 50px;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 100px;
        }
    </style>
</head>
<body>
<div id="order-notes">
    <h1>
        ORDER NOTES
    </h1>
    ${notes}
</div>
</body>
</html>
