<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html"/>

<div py:def="order_row(order)">
    <td><a
            href="${'/order/detail?order_id=%s' %str(order._id)}">${str(order._id)}</a>
    </td>
    <td>${order.user}</td>
    <td>${"%0.2f" % (order.total+order.applied_discount)}</td>
    <td py:for="vat in all_the_vats">
        ${'%.2f' % order.net_per_vat_rate.get(vat, 0)}€<br/>
    </td>
    <td>${"%0.2f" % order.shipping_charges}€</td>
    <td>${sum([item.details.get('weight', 0) * item.qty for item in order.items])} g</td>
    <td>${order.status}
        <span py:if="order.user != order.status_changes[-1].changed_by"> - edited by ${order.status_changes[-1].changed_by}</span>
    </td>
    <td>PAYPAL</td>
    <td py:if="order.notes"><a href="${notes % order._id}" target="_blank">show</a></td>
    <td py:if="not order.notes">&nbsp;
    </td>
    <td>${order.bill}</td>
    <td py:if="not order.billed">${order.billed}</td>
    <td py:if="order.billed">${order.billed_date.strftime('%d/%m/%Y') + '\n' + order.billed_by_name}</td>
    <td py:if="not order.billed and order.bill"><a href="${bill_issue % order._id}">Mark as billed</a></td>
    <th py:if="not order.bill">&nbsp;</th>
    <td py:if="order.status != 'shipped'">
        <a href="${edit % order._id}" class="glyphicon glyphicon-edit edit-order-link"></a></td>
</div>

<head>
    <title>Orders Management</title>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/cart.scss')}"/>
    <style>
        .form-inline .form-group {
            vertical-align: bottom;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-16">${form.display(value=value, action=action)}</div>
    </div>
    <div py:for="date, g_orders in orders" class="row">
        <div class="col-md-16">
            <div class="panel panel-default">
                <div class="panel-heading">${date}</div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ORDER ID</th>
                        <th>USER</th>
                        <th>TOTAL</th>
                        <th py:for="vat in all_the_vats">VAT ${int(vat*100)}%</th>
                        <th>SHIPPING 22%</th>
                        <th>WEIGHT</th>
                        <th>STATUS</th>
                        <th>PAYMENT METHOD</th>
                        <th>NOTES</th>
                        <th>BILL REQUESTED</th>
                        <th>BILLED</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr py:for="order in g_orders">${order_row(order)}</tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    var resetClick = function(el){
        var jQEl = jQuery(el);
        window.location.href = jQEl.data('url');
    }
</script>
</body>
</html>
